* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /*   background-color: #fafafa;
  color: #212121; */
  line-height: 1.5;

  background: linear-gradient(69deg, #2e208e 16.57%, #9b56a6 100.9%) no-repeat;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 70px 20px;
}

.container {
  /*   position: relarive; */
}

.ellipse {
  /*   border: 1px red solid; */
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.first {
  position: absolute;
  top: -200px;
  left: -220px;
  z-index: -1;

  background: linear-gradient(
    143deg,
    rgba(46, 32, 142, 1) 39%,
    rgba(148, 38, 186, 1) 93%,
    rgba(148, 38, 186, 1) 100%
  );
}

.second {
  position: absolute;
  top: 300px;
  right: -100px;
  z-index: -2;

  background: linear-gradient(
    340deg,
    rgba(46, 32, 142, 1) 24%,
    rgba(148, 38, 186, 1) 60%,
    rgba(223,64,169,1) 100%
  );
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;

  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /*   margin: 70px 0px 40px 0px; */
}

.timer {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field:not(:last-child) {
  margin-right: 75px;
}

.value {
      padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
    opacity: 0.9;
  background: linear-gradient(
    180deg,
    #b39ccc 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(32.5px);
  /*   width: 160px; */

  font-family: "Wallpoet", sans-serif;
  font-size: 80px;
}

.label {
  display: flex;
  /*   margin-bottom: 15px; */
  font-size: 35px;
  text-transform: uppercase;
}

.notify {
  margin: auto;
}

h2 {
  font-size: 32px;
  font-weight: 200;
  padding-bottom: 26px;
}

.email {
  /*   height: 80px; */
  width: 550px;
  padding: 15px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0px 0px 10px;
  background: #ffffff;
  border-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.btnNotify {
  padding: 15px 45px;
  border-radius: 0px 10px 10px 0px;
  background: #31b8d6;
  /*   width: 200px; */
  /*   height: 65px; */
  border-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
